---
import AboutButton from "./AboutButton.astro";
---

<div class="py-50 px-15 flex flex-col items-center justify-center w-full h-full">
    <h1 class="text-6xl font-bold text-text-main">
        DANIEL SERENO FERNANDEZ
    </h1>
    <h2 class="text-4xl font-bold text-text-accent py-10">
        DEVOPS ENGINEER
    </h2>
    <AboutButton href="">
        <p>LINKEDIN</p>
    </AboutButton>
</div>