---
import meLogo from '../assets/Me.jpg';
import HeaderButton from './HeaderButton.astro';
---

<header 
class="flex justify-between items-center py-6 w-full"
style="padding: 1% 15%;"
>
    <!-- Left side -->
    <div class="px-15 flex items-center">
        <img
            class="rounded-full w-15 h-15 border-2 border-important-text" 
            src={meLogo.src} 
            alt="my photo">
        <span class="ml-3 font-bold text-important-text">Daniel Sereno Fernandez</span>
    </div>

    <!-- Right side -->
    <nav class="flex felx-row gap-x-10 opacity-90 px-15">
        <HeaderButton href="/">
            About
        </a>
        <HeaderButton href="">
            Studies
        </a>
        <HeaderButton href="">
            Experience
        </a>
        <HeaderButton href="">
            Projects
        </a>
        <HeaderButton href="">
            Contact
        </a>
    </nav>
</header>